[Unit]
Description=IoT FastAPI Service
After=network.target

[Service]
User=__RUN_USER__
WorkingDirectory=/opt/IoT_Apis
EnvironmentFile=/opt/IoT_Apis/.env
ExecStart=/opt/IoT_Apis/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
