API_KEY=replace_with_api_key
MQTT_HOST=replace_with_mqtt_host
MQTT_PORT=1883
MQTT_USERNAME=replace_with_mqtt_username
MQTT_PASSWORD=replace_with_mqtt_password
MQTT_TLS=false
MQTT_KEEPALIVE=60


AWS_REGION=ap-south-1
CERT_S3_BUCKET=IoT_certificate
CERT_S3_KMS_KEY_ID=
CERT_CA_CRT_PATH=/Users/prashantsingh/Desktop/innofarm/AWS_IoT_APIS/certs/ca.crt
CERT_CA_KEY_PATH=/Users/prashantsingh/Desktop/innofarm/AWS_IoT_APIS/certs/ca.key
CERT_VALIDITY_DAYS=3650
CERT_SUBJ_COUNTRY=IN
CERT_SUBJ_STATE=Karnataka
CERT_SUBJ_LOCALITY=Bengaluru
CERT_SUBJ_ORG=Innofarm