API_KEY=replace_with_api_key
MQTT_HOST=replace_with_mqtt_host
MQTT_PORT=1883
MQTT_USERNAME=replace_with_mqtt_username
MQTT_PASSWORD=replace_with_mqtt_password
MQTT_TLS=false
MQTT_KEEPALIVE=60

DBUSER=replace_with_db_user
DBSERVER=replace_with_db_host
DBNAME=replace_with_db_name
DBPORT=5432
DBSSL=true
DBPASSWORD=replace_with_db_password
DBTABLE=IoT_Device_IDS

AWS_ACCESS_KEY_ID=replace_with_aws_access_key
AWS_SECRET_ACCESS_KEY=replace_with_aws_secret_key
AWS_DEFAULT_REGION=ap-south-1
MQTT_CA_SECRET_NAME=Mqtt_CA_certs
CERT_S3_BUCKET=replace_with_s3_bucket_name
